body{
	background-image: url("../img/tlo.jpg");
	background-size: cover;
	color: white
}
#sumcompline{
	border-top:4px solid white;
	margin-top: 10px;
	margin-bottom: 5px;
}
#suma{
	border-top:4px solid white;
	margin-top: 10px;
	margin-bottom: 5px;
}
table#summaryComp{
	width: 40%;
}
table#summaryComp,
table#summaryComp td {
	border:2px solid white;
	border-collapse: collapse;
}
#summaryComp img{
	width: 150px;
	height: auto;
}
