body{
	background-image: url("../img/tlo.jpg");
	background-size: cover;
	color: white
}
#sumcompline{
	border-top:4px solid white;
	margin-top: 10px;
	margin-bottom: 5px;
}
#suma{
	border-top:4px solid white;
	margin-top: 10px;
	margin-bottom: 5px;
}
table#summaryComp{
	width: 40%;
}
table#summaryComp,
table#summaryComp td {
	border:2px solid white;
	border-collapse: collapse;
}
#summaryComp img{
	width: 150px;
	height: auto;
}
#header{
	background: rgb(110,0,0);
	background: linear-gradient(90deg, rgba(110,0,0,1) 7%, rgba(13,0,129,1) 92%);
	height: 30px;
}
#header div{
	text-align: center;
	color: gold;
}
